.wk-button {
  border: 0;
  background-color: #2a2af1;
  color: #fff;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-user-select: none;
          user-select: none;
}
.wk-button span {
  color: #fff;
}
@supports (display: flex) {
  .wk-button div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}
